<section class="collection-section section">
  <div class="collection-list-container container">
    <h2 class="section-title">Our collection</h2>

    <ul class="collection-list">
      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ../img/collection/desktop-1440/august-poltava-1440.jpg    400w,
              ../img/collection/desktop-1440/august-poltava-1440@2x.jpg 800w,
              ../img/collection/desktop-1280/august-poltava-1280.jpg    347w,
              ../img/collection/desktop-1280/august-poltava-1280@2x.jpg 694w,
              ../img/collection/tablet/august-poltava-tab.jpg           342w,
              ../img/collection/tablet/august-poltava-tab@2x.jpg        684w,
              ../img/collection/mob/august-poltava-mob.jpg              335w,
              ../img/collection/mob/august-poltava-mob@2x.jpg           670w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
          />
          <img
            class="collection-list-img"
            src="../img/collection/mob/august-poltava-mob.jpg"
            alt="August Poltava women's blouse photo"
          />
        </picture>

        <h3 class="collection-list-item-title">
          august poltava women's blousering
        </h3>
        <p class="collection-list-item-text">3300 uah</p>
      </li>

      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ../img/collection/desktop-1440/gorgany-1440.jpg    400w,
              ../img/collection/desktop-1440/gorgany-1440@2x.jpg 800w,
              ../img/collection/desktop-1280/gorgany-1280.jpg    347w,
              ../img/collection/desktop-1280/gorgany-1280@2x.jpg 694w,
              ../img/collection/tablet/gorgany-tab.jpg           342w,
              ../img/collection/tablet/gorgany-tab@2x.jpg        684w,
              ../img/collection/mob/gorgany-mob.jpg              335w,
              ../img/collection/mob/gorgany-mob@2x.jpg           670w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
          />
          <img
            class="collection-list-img"
            src="../img/collection/mob/gorgany-mob.jpg"
            alt="Women's blouse Gorgany photo"
          />
        </picture>

        <h3 class="collection-list-item-title">women's blouse gorgany</h3>
        <p class="collection-list-item-text">3350 UAH</p>
      </li>

      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ../img/collection/desktop-1440/mountain-1440.jpg    400w,
              ../img/collection/desktop-1440/mountain-1440@2x.jpg 800w,
              ../img/collection/desktop-1280/mountain-1280.jpg    347w,
              ../img/collection/desktop-1280/mountain-1280@2x.jpg 694w,
              ../img/collection/tablet/mountain-tab.jpg           342w,
              ../img/collection/tablet/mountain-tab@2x.jpg        684w,
              ../img/collection/mob/mountain-mob.jpg              335w,
              ../img/collection/mob/mountain-mob@2x.jpg           670w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
          />
          <img
            class="collection-list-img"
            src="../img/collection/mob/mountain-mob.jpg"
            alt="Mountain men's shirt photo"
          />
        </picture>

        <h3 class="collection-list-item-title">mountain men's shirt</h3>
        <p class="collection-list-item-text">3300 uah</p>
      </li>

      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ../img/collection/desktop-1440/yasen-1440.jpg    400w,
              ../img/collection/desktop-1440/yasen-1440@2x.jpg 800w,
              ../img/collection/desktop-1280/yasen-1280.jpg    347w,
              ../img/collection/desktop-1280/yasen-1280@2x.jpg 694w,
              ../img/collection/tablet/yasen-tab.jpg           342w,
              ../img/collection/tablet/yasen-tab@2x.jpg        684w,
              ../img/collection/mob/yasen-mob.jpg              335w,
              ../img/collection/mob/yasen-mob@2x.jpg           670w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
          />
          <img
            class="collection-list-img"
            src="../img/collection/mob/yasen-mob.jpg"
            alt="Men's shirt Yasen photo"
          />
        </picture>

        <h3 class="collection-list-item-title">men's shirt yasen</h3>
        <p class="collection-list-item-text">1700 uah</p>
      </li>

      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ../img/collection/desktop-1440/crimea-1440.jpg    400w,
              ../img/collection/desktop-1440/crimea-1440@2x.jpg 800w,
              ../img/collection/desktop-1280/crimea-1280.jpg    347w,
              ../img/collection/desktop-1280/crimea-1280@2x.jpg 694w,
              ../img/collection/tablet/crimea-tab.jpg           342w,
              ../img/collection/tablet/crimea-tab@2x.jpg        684w,
              ../img/collection/mob/crimea-mob.jpg              335w,
              ../img/collection/mob/crimea-mob@2x.jpg           670w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
          />
          <img
            class="collection-list-img"
            src="../img/collection/mob/crimea-mob.jpg"
            alt="Women's blouse Crimea photo"
          />
        </picture>

        <h3 class="collection-list-item-title">women's blouse crimea</h3>
        <p class="collection-list-item-text">4000 uah</p>
      </li>

      <li class="collection-list-item">
        <picture>
          <source
            srcset="
              ../img/collection/desktop-1440/verkhovina-1440.jpg    400w,
              ../img/collection/desktop-1440/verkhovina-1440@2x.jpg 800w,
              ../img/collection/desktop-1280/verkhovina-1280.jpg    347w,
              ../img/collection/desktop-1280/verkhovina-1280@2x.jpg 694w,
              ../img/collection/tablet/verkhovina-tab.jpg           342w,
              ../img/collection/tablet/verkhovina-tab@2x.jpg        684w,
              ../img/collection/mob/verkhovina-mob.jpg              335w,
              ../img/collection/mob/verkhovina-mob@2x.jpg           670w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
          />
          <img
            class="collection-list-img"
            src="../img/collection/mob/verkhovina-mob.jpg"
            alt="Men's shirt Verkhovina photo"
          />
        </picture>

        <h3 class="collection-list-item-title">men's shirt verkhovina</h3>
        <p class="collection-list-item-text">3100 uah</p>
      </li>
    </ul>
  </div>
</section>
