<footer class="footer-section" id="footer">
    <div class="container footer-wrapper">
        <div class="logo-footer-cont">
            <p class="footer-text">
                 A touch of<div class="Ukrainian">Ukrainian</div>culture in every embroidery
            </p>
        </div>
        <div class="footerlist-sections">
            <ul class="footer-list-menu">
                <li><a class="footer-link-menu" href="">About us</a></li>
                <li><a class="footer-link-menu" href="">Portfolio</a></li>
                <li><a class="footer-link-menu" href="">CUSTOMER ORDER</a></li>
                <li><a class="footer-link-menu" href="">TEstimonials</a></li>
            </ul>
        </div>
        <img class="g8.png" sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 767px) 418px"
            src="./images/g8.png" alt="g8.png" width="360" />
</div>
</footer>