<footer class="footer-section" id="footer">
    <div class="container footer-wrapper">
        <div class="logo-footer-cont">
            <p class="footer-text">
                 A touch of<div class="Ukrainian">Ukrainian</div>culture in every embroidery
            </p>
        </div>
        <div class="footerlist-sections">
            <ul class="footer-list-menu">
                <li><a class="footer-link-menu" href="">About us</a></li>
                <li><a class="footer-link-menu" href="">Portfolio</a></li>
                <li><a class="footer-link-menu" href="">CUSTOMER ORDER</a></li>
                <li><a class="footer-link-menu" href="">TEstimonials</a></li>
            </ul>
        </div>

                    <source srcset="
                                  ./img/footer/g8.png      400w,
                                  ./img/footer/g8@2x.png  800w,
                                  ./img/footer/g8.png      347w,
                                  ./img/footer/g8@2x.png  694w,
                                  ./img/footer/g8.png      342w,
                                  ./img/footer/g8@2x.png   684w,
                                  ./img/footer/g8.png      335w,
                                  ./img/footer/g8@2x.png   670w
                                "
                        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px" />
                    <img class="g8.png" src="./img/footer/g8.png"
                        alt="g8.png" />
</div>
</footer>