<section class="hero-section container">
  <div class="hero">
    <h1 class="hero-title">
      Reviving the traditional<span class="hero-title-span"> Ukrainian </span
      >artistry in every stitch.
    </h1>
    <button class="hero-button">
      <p class="hero-btn-text">Order</p>
      <svg class="hero-svg">
        <use class="hero-send-arrow" href="./img/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <img
      srcset="./img/hero/girl@2x.jpg 2x"
      src="./img/hero/girl.jpg"
      alt="Girl in an vyshyvanka"
      class="hero-img"
    />
  </div>
  <div class="hero-icon-img">
    <svg class="hero-svg-star">
      <use class="hero-star"></use>
    </svg>
    <p class="hero-star-text"></p>
    <svg class="hero-svg-elipse">
      <use class="hero-elipse-icon"></use>
    </svg>
  </div>
</section>
