<section class="hero-section container">
  <div class="hero">
    <div class="hero-picture-btn-icon">
      <div class="hero-picture-btn">
        <h1 class="hero-title">
          Reviving the traditional<span class="hero-title-span">
            Ukrainian </span
          >artistry in every stitch.
        </h1>

        <a href="./index.html#order-section" class="hero-button-link">
          Order
          <svg class="hero-svg" width="26px" height="13px">
            <use
              class="hero-send-arrow"
              href="./img/icons.svg#icon-arrow"
            ></use>
          </svg>
        </a>
      </div>

      <img
        srcset="
          ./img/hero/girl-desktop.jpg    392w,
          ./img/hero/girl-desktop@2x.jpg 784w,
          ./img/hero/girl-tablet.jpg     413w,
          ./img/hero/girl-tablet@2x.jpg  826w,
          ./img/hero/girl.jpg            335w,
          ./img/hero/girl@2x.jpg         670w
        "
        src="./img/hero/girl.jpg"
        sizes="(min-width:
    1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        alt="Girl in an vyshyvanka"
        class="hero-img"
      />
    </div>

    <div class="hero-star">
      <div class="hero-svg-star">
        <svg width="52" height="51">
          <use class="hero-star" href="./img/icons.svg#icon-star"></use>
        </svg>
        <p class="hero-star-text">all embroidery is made by hand</p>
      </div>

      <img
        class="hero-elipse"
        src="./img/hero/veshyv.png"
        alt="elipse-vyshyvanka"
      />
    </div>
  </div>
</section>
