<!-- =======Your order section======= -->
<section class="section your-order-section">
  <div class="container order-container">
    <div class="order-bkg-img">
      <div class="order-scroll" id="order-section"></div>
    </div>

    <div class="order-flex-wrapper">
      <div class="order-form-wrapper">
        <h2 class="section-title order-title">
          <span class="order-colored-part">Your order</span> is our priority:
          Personalized approach and quality of service
        </h2>
        <form class="order-form">
          <div class="order-section-field-wrapper">
            <label class="order-form-label" for="user-name">
              <input
                class="order-form-input"
                type="text"
                id="user-name"
                name="user-name"
                pattern="[a-zA-zа-яА-ЯіІїЇєЄ']+"
                placeholder="Enter your full name"
                required
              />
            </label>
          </div>
          <div class="order-section-field-wrapper">
            <label class="order-form-label" for="user-email">
              <input
                class="order-form-input"
                type="email"
                id="user-email"
                name="user-email"
                placeholder="Enter your email"
                required
              />
            </label>
          </div>
          <div class="order-section-textarea-wrapper">
            <label class="order-form-textarea" for="user-comment">
              <textarea
                class="order-form-coment"
                name="user-comment"
                id="user-comment"
                placeholder="Comments"
              ></textarea>
            </label>
          </div>
          <button class="order-button" type="submit">
            Send
            <svg class="order-button-icon" width="26" height="13">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </form>
      </div>
      <img
        class="order-content-img"
        srcset="
          ./img/order/order-img-tablet.jpg      638w,
          ./img/order/order-img-tablet@2x.jpg  1276w,
          ./img/order/order-img-desktop.jpg     524w,
          ./img/order/order-img-desktop@2x.jpg 1048w
        "
        sizes="(min-width: 1280px) 524px, (min-width:768px) 638px"
        src="./img/order/order-img-tablet.jpg"
        alt="girl-wearing-embroidered-shirt"
      />
    </div>
    <div class="bkg-ornament-placeholder"></div>
  </div>
</section>
<!-- =======/Your order section======= -->
