/* =======ABOUT US====== */
.section-about-us{
padding-top: 80px;
padding-bottom: 62px;
    background-image: url(/img/about/about-ornamets-mobile.png);
    background-position-x: right;
        background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 248px 393px;
}



@media screen and (min-width: 768px) {
    .section-about-us{
        background-image: url(/img/about/ornamet-about-tablet.png);
       padding-top: 100px;
       padding-bottom: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .section-about-us {
        padding-top: 150px;
        padding-bottom: 80px;
    background-image: url(/img/about/ornament-desctop1280.png);
    }
}
@media screen and (min-width: 1440px) {
    .section-about-us {
        background-image: url(/img/about/ornament-descktop1440.png);
    }
}
.about-us-title{
    color: var(--white, rgb(252, 249, 249));
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px){
    .about-us-title{
    font-size: 44px;
    line-height:1.45;
    }
}
.about-us-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.about-us-text{
    font-size: 14px;
    letter-spacing: -0.04em;
    max-width: 335px;

}
.img-about-us{
    width: 335px;
    height: 499px;
    border-radius: 4px;
}

@media screen and (min-width: 768px){
    .img-about-us {
        height: 545px;
        }
     .img-about-us {
         width: 704px;
        height: 545px;
                }
}
@media screen and (min-width: 768px) {
    .about-us-text{
    font-size: 16px;
    max-width: 704px;
    }
}
@media screen and (min-width: 1280px){
    .about-us-text{
    max-width: 436px;
    }
        .img-about-us {
         width: 594px;
        }
}
@media screen and (min-width: 1440px) {
    .about-us-text {
            max-width: 481px;
        }
        .img-about-us {
        width: 709px;
             }
}

@media screen and (min-width: 1280px) {
    .about-container {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    }
    .wrap-container{
        display: flex;
        flex-direction: column;
    }
}

