/* ==== COMMON ==== */

body {
  font-family: 'Manrope', sans-serif;
  color: rgba(252, 249, 249, 0.4);
  background: #1c2225;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.list {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page-container {
  min-height: 100vh;
  flex-direction: column;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* ==== CONTAINER ==== */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

/* ==== SECTION ==== */

.section-title {
  color: var(--white, #fcf9f9);
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}

.hero-section {
  padding-top: 60px;
}

.section-about-us {
  padding-top: 80px;
}

.collection-section {
  padding-top: 18px;
  padding-bottom: 80px;
}

.testimonials-section {
  padding-top: 81px;
  padding-bottom: 80px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 44px;
    line-height: 1.45em;
  }

  .hero-section {
    padding-top: 80px;
  }

  .section-about-us {
    padding-top: 100px;
  }

  .collection-section {
    padding-top: 50px;
    padding-bottom: 100px;
  }


  .testimonials-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 100px;
  }

  .section-about-us {
    padding-top: 150px;
  }

  .collection-section {
    padding-top: 70px;
    padding-bottom: 150px;
  }


  .testimonials-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
