/* ==== COMMON ==== */

body {
    font-family: 'Manrope', sans-serif;
    color: rgba(252, 249, 249, 0.40);
    background: #1C2225;
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.04em;
        margin: 0;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.list {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.page-container {
    min-height: 100vh;
    flex-direction: column;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

main {
    flex-grow: 1;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* ==== CONTAINER ==== */


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .container {
            width: 100%;
        }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}

/* ==== SECTION ==== */

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-title {
    color: var(--white, #fcf9f9);
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38em;
    letter-spacing: -0.03em;
}

@media screen and (min-width: 375px) {

        .section {
            padding-top: 40px;
            padding-bottom: 40px;
        }
}

@media screen and (min-width: 768px) {
    .section-title {
        font-size: 44px;
        line-height: 1.45em;
    }
        .section {
            padding-top: 50px;
            padding-bottom: 50px;
        }
}

@media screen and (min-width: 1280px) {
   .section {
            padding-top: 75px;
            padding-bottom: 75px;
        }
}













/* manrope-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/manrope-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v15-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




