.footer-section {
  padding-top: 40px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  margin-bottom: 40px;
}

.footer-list-item {
  /* Box model */
  width: calc((100% - 40px) / 2);

  /* Typography */
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-title {
  color: var(--white, #fcf9f9);
  font-size: 44px;
  line-height: 1.22;
  letter-spacing: -0.03em;

  /* Box model */
  width: 335px;
  margin-bottom: 80px;
}

.footer-section {
  background-image: url(../img/footer/bg-footer-mob.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 216px;
  background-size: 375px 212px;
}

@media screen and (min-width: 768px) {
  .footer-section {
    background-image: url(../img/footer/bg-footer-tab.png);
    background-position: top right;
    padding-bottom: 0;
    background-size: 178px 369px;
  }
  .footer-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 80px;
  }

  .footer-list-item {
    /* Box model */
    width: auto;
  }

  .footer-title {
    /* typography */
    font-size: 54px;
    line-height: 1.18;

    /* Box model */
    width: 521px;
  }

  .footer-container {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    background-image: url(../img/footer/bg-footer-1280.png);
    background-position: top right;
    padding-bottom: 0;
    background-size: 336px 363px;
  }

  .footer-list {
    margin-bottom: 117px;
  }

  .footer-title {
    /* typography */
    font-size: 64px;
    line-height: 1.15;
    /* Box model */
    width: 754px;
  }
}

@media screen and (min-width: 1440px) {
}
