.hero-icon-img {
  display: none;
}

.hero-title {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.hero-title-span {
  color: var(--white, #ecd979);
}


.hero-button-link {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 49px;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  outline: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  color: var(--white, #fcf9f9);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;

}

.hero-svg {
  margin-left: 10px;
}

.hero-img {
  border-radius: 4px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  
}


@media screen and (max-width: 767px) {
  .hero-svg-star {
    display: none;
  }

  .hero-elipse {
    display: none;
  }
}

@media screen and (min-width: 768px) {
.hero {
  position: relative;
}

  .hero-title {
    width: 549px;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }

    .hero-button-link {
      margin-left: 141px;
    }

  .hero-img {
    height: 575px;
  }

.hero-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .hero-svg-star {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  gap: 16px;
  }

  .hero-star-text {
    color: rgba(252, 249, 249, 0.40);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.04em;
      width: 115px;
  }

  .hero-elipse {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -97px;
  }
}

@media screen and (min-width: 1280px) {

.hero-picture-btn-icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 40px;
}

.hero-picture-btn-link {
    margin-top: 94px;
}

.hero-title {
  width: 518px;
}

.hero-img {
  margin: 0;
}

.hero-svg-star {
  top: 14px;
}


}

@media screen and (min-width: 1440px) {

.hero-picture-btn-link {
  margin-top: 66px;
}

.hero-title {
        font-size: 64px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        width: 626px;
  }

    .hero-svg-star {
      top: 66px;
    }


}
