


  .testimonials-title {
    margin-bottom: 31px;
    text-align: left;
  }

  .testimonials-list .testimonials-list-item:not(:first-child) {
    display: none;
  }
  .testimonials-list-container {
    display: flex;
    padding: 0px 18px 18px 18px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .testimonials-list-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .testimonials-list-title {
    color: #fcf9f9;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    margin-top: 20px;
  }
  .testimonials-list-text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0em;
    width: 291px;
  }
  .testimonials-list-item {
    display: flex;
    padding-top: 24px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    position: relative;
    box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
  }
  .testimonials-list-img {
    position: absolute;
    top: -24px;
  }

    @media screen and (max-width: 374px) {

      .testimonials-list-title {
    width: 100%;
  }

 .testimonials-list-text {
  width: 100%;
 }
    }

    

@media screen and (min-width: 768px) {
  .testimonials-title {
    margin-bottom: 64px;
    text-align: left;
  }
  .testimonials-list .testimonials-list-item:not(:first-child) {
    display: flex;
  }
  .testimonials-list .testimonials-list-item:last-child {
    display: none;
  }

  .testimonials-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
  .testimonials-list-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-list .testimonials-list-item:not(:first-child) {
    display: flex;
  }
  .testimonials-list-text {
    width: 307px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials-container {
    width: 1300px;
  }
}
